*{
box-sizing: border-box;
margin: 0;
padding: 0;



}	

body{
    font-family: 'Open Sansd', sans-serif;
    }

.contenedor{
    width: 100%;
    max-width: 1170px;
    margin:auto;
       
    }

/*CABECERA*/

header{
    width: 100%;
    height: 200px;
    background-color: white;

    }

.logo{
    padding: 20px 0;

}

.logo img{
    width: 600px;
    display: block;
    margin: auto;
}

/*MENU*/

.menu{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 430px;
    margin:auto;
    
    }

.menu a{
    color: #7a7a7a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
    }



.menu a:hover{
    color: #1da413;
    }

/* fin de cabecera */


/* Banner Principal */

.banner{
    width: 100%;
    height: 500px;
    background-image: url(../img/estibadetaconacional.png);
    background-position: center;
    background-size: cover;
    
    }

.banner > div{
    width: 100%;
    height: 100%;
    background-color: rgba(209, 219, 189, 0.5);
    margin-top: 30px;
    }

.llamada-accion{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.llamada-accion p{
    color: white;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
    }

.llamada-accion h2{
    font-size: 42px;
    color: white;
    width: 100%;
    padding: 45px 0;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 470px;
    margin: auto;
    }

.llamada-accion a{
    padding: 10px 40px;
    background-color: #1da413;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 35px;
    transition: all 0.3s ease-in-out;
    }

.llamada-accion a:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

/* fin de banner principal */

/* Seccion de Bienvenida */

.bienvenidos{
    width: 100%;
    background-color: #3e606f;
    color: #ffffff;
    margin-top: 2px;
    text-align: center;
    padding: 40px 0;
    }

.bienvenidos h3{
    font-size: 16px;
    padding-top: 35px;
    padding-bottom: 30px;
    }

.bienvenidos p{
    font-size: 16px;
    padding-bottom: 40px;
    line-height: 1.7em;
    max-width: 370px;
    margin: 0 auto;
    
}

/* fin de seccion de bienvenida */  

/* Seccion sobre nosotros */

.nosotros{
    padding-bottom: 80px;

}

.nosotros > .contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.foto-producto{
    width: 100%;
    max-width: 570px;   
}

.foto-producto img{
    width: 100%;
    }

.conocenos{
    text-align: center;
    padding: 15px 0;
    max-width: 570px;
    }

.conocenos p:nth-child(1){
    font-size: 14px;
    color: #3c1c22;
    padding-bottom: 20px;
    border-bottom: 1px solid #a2a2a2;
    }

.conocenos h3{
    padding-top: 20px;
    padding-bottom: 30px;
    color:#1da413;
    font-size: 18px;
}

.conocenos p:nth-child(3){
    font-size: 16px;
    color: #133f10;
    padding-bottom: 25px;
    }

.conocenos p:nth-last-child(4){
    font-size: 14px;
    color: #0d7506;
    padding-bottom: 20px;
    }

.conocenos a{
    font-size: 15px;
    color: #1da413;
    }



@media all and (min-width:769px){
    .nosotros{
        padding-top: 80px;
    }
    .foto-producto{
        margin-right: 30px;
    }
    .conocenos{
        padding-left: 30px;
    }
}

/* fin de seccion sobre nosotros */

/* Seccion Pie de Pagina */

.top-footer{
    background-color: #3e606f;
    height: 25px;
    }

    .center-footer{
        background-color: #152d37;
        }

    .center-footer .contenedor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }

    .center-footer .widget{
        text-align: center;
        padding-top: 20px;
        
        color:#7a7a7a;
        max-width: 270px;
        margin: 0 auto;
        }

    .center-footer .widget h4{
        padding-bottom: 35px;
        font-size: 18px;

    }

    .center-footer .widget p{
        font-size: 14px;
        padding-bottom: 20px;
    }

    .bottom-footer{
        background-color: #193441;
        height: 25px;
              
        }

    .bottom-footer p{
        color:#7a7a7a;
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
       
    }

    /* Banner Productos */

    .productos{
        width: 100%;
        height: 500px;
        background-image: url(../img/productos.png);
        background-position: center;
        background-size: cover;
        
        }
    
    .productos > div{
        width: 100%;
        height: 100%;
        background-color: rgba(209, 219, 189, 0.5);
        margin-top: 30px;
        }

    /* Secci贸n de Productos */

    /* Estilos para la secci贸n de productos */
.productos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
    
}

.producto {
    text-align: center;
    margin-bottom: 20px;
    width: 30%;
   
}

.producto img {
    width: 100%;
    height: 200px;
    
}

/* Vamos alinear las imagenes de los productos */

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.producto h3 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

.producto p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

.producto a {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
}

.producto a:hover {
    background-color: #555;
}

/* fin de secci贸n de productos */

/* Estilos para la secci贸n de contacto */
.formulario-contacto {
    padding: 40px 0;
}

.formulario-contacto form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.formulario-contacto label {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.formulario-contacto input,
.formulario-contacto textarea {
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.formulario-contacto button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario-contacto button:hover {
    background-color: #555;
}

.informacion-empresa {
    margin-top: 40px;
    text-align: center;
}

.informacion-empresa h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.informacion-empresa p {
    font-size: 16px;
    margin: 5px 0;
}

.mapa iframe {
    width: 100%;
    height: 450px;
    border: 0;
    margin-top: 20px;
}